@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";

:root {
  --swiper-navigation-size: 44px;
}

:root {
  --swiper-theme-color: #007aff;
}
:root {
  --secondary-color: #0c4329;
  --secondary-background: white;
  /* --primary-background: #0c4329; */
  /* --primary-background: #8bc34a; */
  /* --primary-color: #8bc34a; */
  --primary-background: #010101d9;
  --third-color: #07247c;
  /* --primary-color: #009688; */
  --primary-color: #2e5471;
  /* --third-color: #07247c; */
  --blue: #3700ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --white: white;
  --primary: #007bff;
  --secondary: #6c757d;
  /* --primary: #007bff;
  --secondary: #6c757d; */
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

/* image popup */
img.mfp-img {
  box-shadow: 0 0 8px rgb(0 0 0 / 60%);
  position: absolute;
  max-height: 392px;
  padding: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mfp-img-container .mfp-content {
  max-width: 400px !important;
}
.mfp-img-container .mfp-close {
  top: -110px;
  right: -24px;
}

.home-banner:after {
  z-index: 0;
}

body {
  overflow-x: hidden;
}
.video-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .color_switch {
    top: 71px;
    right: 13px;
  }
  .demo-back-link {
    right: 13px;
    top: 130px;
  }
}

.glitch-home h1 {
  color: #fff !important;
}
.glitch-home .lead {
  color: #fff !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 950px;
  }
  .about-me .img img {
    max-width: 100%;
  }
  .header-left .nav-menu li .nav-link {
    padding: 12px 30px;
  }
}

.header-left .hl-top:after {
  content: "";
  width: 310px;
  height: 310px;
}
.header-left .hl-top h5 {
  margin: 15px 0 0;
  font-size: 13px;
}
.header-left .hl-top .img {
  width: 100px;
  height: 100px;
}

.home-banner .hb-img img {
  border-radius: 50%;
}

.product {
  border: 4px solid var(--third-color);
}

.pp-section {
  background: var(--primary-background);
}

.home-banner:after {
  background: var(--primary-color);
}

.px-btn.px-btn-theme {
  background: var(--third-color);
  color: #fff;
  box-shadow: 4px 4px #fff;
}
.px-btn {
  border: 1px solid var(--third-color);
}
.px-btn.px-btn-theme:hover {
  background: var(--white);
  color: var(--third-color);
  box-shadow: 4px 4px var(--third-color);
}
.px-btn:hover {
  border: 1px solid var(--third-color);
}
.feature-box-01,
.contact-form,
.contact-info {
  background: var(--primary-color);
}

.feature-box-01:hover {
  background: var(--third-color);
}

.title h3:after,
.title h3:before {
  background: var(--primary-color);
}
.skill-lt .skill-bar .skill-bar-in,
.skill-lt span,
.aducation-box {
  background: var(--primary-color);
}
.aducation-box span {
  background: var(--third-color);
}

.header-left {
  background: var(--primary-color);
}

.header-left .nav-menu li.active a {
  color: var(--third-color);
}
.header-left .hl-top:after {
  background: none;
}

.theme-light .header-left .nav-menu li .nav-link:hover,
.theme-light .header-left .nav-menu li.active a,
.header-left .nav-menu li .nav-link:hover {
  color: var(--third-color);
}
.theme-light .px-btn.px-btn-theme:hover {
  box-shadow: none;
}
.portfolio-box-01 .portfolio-info {
  background: var(--primary-color);
}

.portfolio-box-01 .portfolio-icon a {
  background: var(--third-color);
}
.contact-info li i {
  color: var(--third-color);
}
.theme-light .color_switch {
  background: var(--primary-background);
}
.color_switch {
  color: var(--primary-background);
}
#loading {
  background: var(--primary-background);
}
.mob-header {
  background: var(--primary-background);
}

.toggler-menu {
  background: var(--primary-color);
}

@media (min-width: 992px) {
  .about-me .img img {
    max-width: -webkit-fill-available;
  }
}

.google-map .embed-responsive-21by9 {
  filter: contrast(3);
  -webkit-filter: grayscale(4);
}

span.git-cta a {
  font-family: "themify";
  width: 40px;
  height: 40px;
  display: inline-block;
  background: var(--third-color);
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: relative;
  left: 20px;
  bottom: 20px;
}
/* .theme-light .home-banner:after {
  background: var(--primary-color);
} */
.theme-light .home-banner:after,
.theme-light .header-left,
.theme-light .aducation-box,
.theme-light .feature-box-01,
.theme-light .contact-info,
.theme-light .contact-form {
  background: #e3e3e4;
}
